<nav id = "sidebar">
        <div class="sidebar-header">
            <p></p>
        </div>
        <ul class="list-unstyled components">
            <h4>Dashboard</h4>
            <li class="active">
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/devices">Devices</a>
            </li>
            <li>
                  <a href="/children">Children</a>
            </li>
            <li>
                <a href="#downloadSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Downloads</a>
                <ul class="collapse list-unstyled" id="downloadSubmenu">
                    <li>
                        <a class="dropItem" href="#">Windows</a>
                    </li>
                    <li>
                        <a class="dropItem" href="#">Android</a>
                    </li>
                </ul>
            </li>
            <li>
                  <a href="#">Contact</a>
            </li>
        </ul>
    </nav>