<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!--Head scripts-->
    <% include partials/head %>
    <link rel="stylesheet" href="css/devices.css">    
  </head>
  <body>
    <!-- Bootstrap top-navbar-->
    <% include partials/navbar %>

    <!-- Sidebar -->

    <!--Main Content-->
    <div class = "middle-container">
    <div id = "device-table">
        <!--device table goes here-->
    </div>
    
    <div class="container">
      
    </div>

    </div>

    </div>

    <!--Footer Section-->
    <!-- <% include partials/footer %> -->
    </div>

    <!-- bootstrap and jquery scripts -->
    <% include partials/scripts %>

    <!-- client-side script file -->
    <script src="js/devices.js" charset="utf-8"></script>
    
  </body>
</html>