<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!--Head scripts-->
    <% include partials/head %>
    <link rel="stylesheet" href="css/index.css">    
  </head>
  <body>
    <!-- Bootstrap top-navbar-->
    <% include partials/navbar %>

    <!-- Sidebar -->

    <!--Main Content-->
    <div class = "middle-container">

    <div class="container">

        <ul id ="childTabs" class="nav nav-tabs justify-content-center">
            <!-- Children name headers go here-->
        </ul>

        <div id="tab-content">
            <!--Contents in each tab go here-->
        </div>
    </div>

    </div>

    </div>

    <!--Footer Section-->
    <!-- <% include partials/footer %> -->
    </div>

    <!-- bootstrap and jquery scripts -->
    <% include partials/scripts %>

    <!-- client-side script file -->
    <script src="js/index.js" charset="utf-8"></script>
    
    <!--Bootstrap tab fix script-->
    <script>
     $(document).on('click','a.dropLink',function(){
        console.log("button clicked...");
        $("a.dropLink").removeClass("active");
      });
    </script>
  </body>
</html>