<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NestShield Web Portal</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <!-- Firebase Script-->
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
  </head>
  <body>

  <!--Bootstrap Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NestShield</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class ="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="">Download</a>
          </li>
      </ul>
    </div>
  </nav>

  <!--Intro Section-->
  <div class="top-container">
    <h1>NestShield</h1>
    <p>helping you to protect them while they're still in the nest.</p>
    <img class="nest" src="https://image.flaticon.com/icons/svg/376/376300.svg" alt="nest-img">
  </div>


  <!--Content Section-->
  <div class="middle-container">

    <!--about the product-->
    <div class="profile">
      <img class="portrait" src="https://image.flaticon.com/icons/svg/214/214271.svg" alt="portrait-img">
      <h2>About us.</h2>
      <p>
        NestShield is a cross-platform parental-control software solution.
      </p>
    </div>
    <hr>

    <!--about the features-->
    <div class="features">
      <h2>Features.</h2>
      <div class="features-row">
        <img class="features-pic" src="https://image.flaticon.com/icons/svg/238/238062.svg" alt="web-pic">
        <h3><a class="feature-link" href="/login">Web portal</a></h3>
        <p>This is how you can access the parental portal from your web browser.</p>
      </div>
      <div class="features-row">
        <img class="features-pic" src="https://image.flaticon.com/icons/svg/149/149384.svg" alt="phone-pic">
        <h3><a class="feature-link" href="landing.html">Android portal</a></h3>
        <p>This is how you can access the parental-control portal from your android device.</p>
      </div>
      <div class="features-row">
        <img class="features-pic" src="https://image.flaticon.com/icons/svg/160/160172.svg" alt="windows-pic">
        <h3><a class="feature-link" href="landing.html">Windows service</a></h3>
        <p>This is the service that will run on your childs Windows computer.</p>
      </div>
      <div class="features-row">
        <img class="features-pic" src="https://image.flaticon.com/icons/svg/220/220363.svg" alt="android-pic">
        <h3><a class="feature-link" href="landing.html">Android service</a></h3>
        <p>This is the service that will run on your childs Android device.</p>
      </div>
    </div>
    <hr>

    <!--contact details-->
    <div class="contact-us">
      <h2>Contact Us</h2>
      <h3>Feel free to reach out to us for a consultation.</h3>
      <p>NestShield@fakeemail.com</p>
      <p>Fake Address</p>
      <p>(fake)-phone-number</p>
      <a class="btn" href="mailto:BrentGriffin94@email.com">MESSAGE US</a>
    </div>
  </div>

  <!--Footer Section-->
  <div class="bottom-container">
    <a class="footer-link" href="https://www.facebook.com">FaceBook</a>
    <a class="footer-link" href="https://twitter.com">Twitter</a>
    <p>© 2019 NestShield.</p>
  </div>

  <!-- Bootstrap stuff -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- client-side script file -->
  <script src="app.js" charset="utf-8"></script>
  
  </body>
</html>
