<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NestShield Login</title>
    <!--Head scripts-->
    <% include partials/head %>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    
    <!-- Bootstrap top-navbar-->
    <% include partials/navbar %>
    
    <!--Intro Section-->
    <div class="top-container">
      <h1>NestShield</h1>
      <p>helping you to protect them while they're still in the nest.</p>
    </div>
    
    <!--Main Content-->
    <div class = "middle-container">
      <!-- form for logging in -->
      <div id = "login-form">
        <h3 id="form-head">Please sign in</h3>
        <div id = "login-box">
          <input type="email" id="user-email" class="form-control" placeholder="Email address">
          <input type="password" id="user-password" class="form-control" placeholder="Password">
        </div>
        <input type="checkbox" value="remember-me form"> Remember Credentials<br>
        <button id="login-btn" class="btn btn-small">Sign in</button>
        <p>Don't have an account? <a id="signup-login-btn" href="/registration">Sign Up</a></p>
      </div>
    </div>
    
    <!--Footer Section-->
    <% include partials/footer %>

    <!-- bootstrap and jquery scripts -->
    <% include partials/scripts %>

    <!-- client-side script file -->
    <script src="js/login.js" charset="utf-8"></script>
     
  </body>
</html>