<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NestShield Registration</title>
    <!--Head scripts-->
    <% include partials/head %>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    
    <!-- Bootstrap top-navbar-->
    <% include partials/navbar %>
    
    <!--Intro Section-->
    <div class="top-container">
      <h1>NestShield</h1>
      <p>helping you to protect them while they're still in the nest.</p>
    </div>
    
    <!--Main Content-->
    <div class = "middle-container">
      <!-- form for logging in -->
      <div id = "register-form">
        <h3 id="form-head">Register for a NestShield Account</h3>
        <div id = "register-box">
          <input type="email" id="user-name" class="form-control" placeholder="Full name">
          <input type="email" id="user-email" class="form-control" placeholder="Email address">
          <input type="password" id="user-password" class="form-control" placeholder="Password">
          <input type="password" id="user-confirm-password" class="form-control" placeholder="Confirm password">
        </div>
        <button id="signup-btn" class="btn btn-small">Sign up</button>
        <p>Already have an account? <a id="signup-login-btn" href="/login">Login</a></p>
      </div>
    </div>
    
    <!--Footer Section-->
    <% include partials/footer %>

    <!-- bootstrap and jquery scripts -->
    <% include partials/scripts %>

    <!-- client-side script file -->
    <script src="js/registration.js" charset="utf-8"></script>
     
  </body>
</html>