/**************tag selectors***********/
body {
  margin: 0;
  text-align: center;
  position: relative;
  font-family: 'Arial', sans-serif;
  background-color: #e3e3e3;
}
h1 {
  margin-top: 0;
  font-size: 50px;
  font-family: 'Laila', serif;
}
h2 {
  font-family: 'Laila', serif;
  font-weight: bold;
  color: #393e46;
  font-size: 32px;
}
h3 {
  color: #f95959;
  font-family: 'Laila', serif;
  font-size: 18px;
}
a {
  color: #f95959;
  text-decoration: none;
  font-size: 19px;
}
a:hover {
  color: #e3e3e3;
}
hr {
  width: 100px;
}
/**************class selectors***********/
.top-container, #login-top {
  background-color: #f95959;
  position: relative;
  padding: 20px 0;
  font-weight: bold;
}
.middle-container {
  background-color: #e3e3e3;
  padding-bottom: 60px;
}
.bottom-container {
  background-color: #393e46;
  color: #eeeeee;
  font-family: Arial, sans-serif;
  padding: 40px 0;
}
.nest {
  position: relative;
  top: 7px;
  height: 200px;
  width: 200px;
  background-color: #f95959;
  border-radius: 100%;
  padding: 5px;
}
.portrait {
  height: 100px;
  width: 100px;
  margin-top: 30px;
}
.features-pic {
  height: 75px;
  width: 75px;
}
.contact-us {
  padding-bottom: 70px;

}
.footer-link {
  padding: 0 30px;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #f95959;
  padding: 5px;
  text-decoration: none;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}
.btn:hover {
  background: #393e46;
  text-decoration: none;
}
.feature-link:hover {
  color: #393e46;
}
.login-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.wl-table{
  margin: 0px auto;
  text-align: center;
}
.table{
  max-width: 150px;
  text-align: center;
  margin-left: 250px;
  background-color: #ffffff;
}
.stay-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/**************id selectors***********/
#login-form{
  text-align: center;
  position: relative;
  top: 25%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 330px;
}
#login-box{
  padding: 5px 0;
}
#register-btn{
  padding-top: 100px;
}
#form-head{
  font-weight: bold;
}
#login-top {
  margin-bottom: 100px;
}
#content-wrap {
  padding-bottom: 300px;    /* Footer height */
}
