<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!--Head scripts-->
    <% include partials/head %>
    <link rel="stylesheet" href="css/index.css">    
  </head>
  <body>
    <!-- Bootstrap top-navbar-->
    <% include partials/navbar %>

    <!-- Sidebar -->

    <!--Intro Section-->
    <div class="top-container">
    </div>

    <!--Main Content-->
    <div class = "middle-container">

    <div class="container">
        <h2>NestShield Dashboard</h2>

        <ul class="nav nav-tabs justify-content-center">
            <li><a class = "tab-btn" data-toggle="tab" href="#child1">Child1</a></li>
            <li><a class = "tab-btn" data-toggle="tab" href="#child2">Child2</a></li>
            <li><a class = "tab-btn" data-toggle="tab" href="#child3">Child3</a></li>
            <li><a class = "tab-btn" data-toggle="tab" href="#child4">Child4</a></li>
        </ul>

        <div class="tab-content">
            <div id="child1" class="tab-pane fade in active">
                <div id = "white-list">
                    <!--whitelist table goes right here-->
                </div>   
            </div>
            <div id="child2" class="tab-pane fade">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="child3" class="tab-pane fade">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="child4" class="tab-pane fade">
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>

    </div>

    </div>

    <!--Footer Section-->
    <!-- <% include partials/footer %> -->
    </div>

    <!-- bootstrap and jquery scripts -->
    <% include partials/scripts %>

    <!-- client-side script file -->
    <script src="js/index.js" charset="utf-8"></script>
  </body>
</html>