<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <!--Head scripts-->
        <% include partials/head %>
        <link rel="stylesheet" href="/stylesheets/index.css">    
    </head>
    <body>
        <!--Bootstrap side-navbar-->
        <% include partials/sidebar %>

        <!-- Bootstrap top-navbar-->
        <% include partials/navbar %>
        <div class = "middle-container" id = "main">
        <div id = "wlTable">
            <ul id ="childTabs" class="nav nav-tabs justify-content-center">
                <!-- Tab headers go here-->
            </ul>

            <div id="tab-content">
                <!--Contents in each tab go here-->
            </div>
        </div>
        
        <!-- bootstrap and jquery scripts -->
        <% include partials/scripts %>

        <!-- client-side script file -->
        <script src="index.js" charset="utf-8"></script>

        <!--Fix for Bootstrap tab fix-->
        <script>
            $(document).on('click','a.dropLink',function(){
            console.log("button clicked...");
            $("a.dropLink").removeClass("active");
            });
        </script>
    </body>
</html>