/**************tag selectors***********/
body {
  margin: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #C9B59A;
}
h1 {
  margin-top: 0;
  font-size: 50px;
  font-family: 'Laila', serif;
}
h2 {
  font-family: 'Laila', serif;
  font-weight: bold;
  color: black;
  font-size: 32px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 19px;
}
a:hover {
  color: #B4F9FF;
}
hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/**************class selectors***********/
.middle-container {
  background-color: auto;
  padding-bottom: 60px;
  justify-content: center;
}
.bottom-container {
  background-color: #393e46;
  color: #eeeeee;
  font-family: Arial, sans-serif;
  padding: 40px 0;
  position: absolute;
  width: 100%;
}
.footer-link {
  padding: 0 30px;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: black;
  font-size: 14px;
  background: rgb(139, 185, 104);
  padding: 5px;
  text-decoration: none;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}
.btn:hover {
  background: #B4F9FF;
  color: black;
}

.tab-btn{
  margin: 50px;
}
.table{  
  text-align: center;
  /* background-color: rgb(224, 209, 191); */
  background-color: rgb(245, 237, 226);
  max-width: 100px;
}

table th {
  text-align: center; 
}

.container{
  margin-top: 50px;
}
.contentTab.tab-pane {
  display: none;
}
.contentTab.active {
  display: block;
}
.navbar-custom{
  background-color: #64864A;
  color: #ffffff;
  min-width: 100%;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-custom .nav-item:hover .nav-link, 
.navbar-custom .navbar-brand:hover {
    color: #B4F9FF;
}
.dropLink{
  font-size: 16px;
}
.childHeader{
  margin:0 50px;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100%;
}
.dropItem{
  color: white;
}


/**************id selectors***********/
#sidebar {
  background: rgb(139, 185, 104);
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: rgb(139, 185, 104);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid rgb(139, 185, 104);
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #B4F9FF;
}
#sidebar {
  min-width: 250px;
  height: 100%;
  position: fixed;
}
#tab-content{
  margin-top: 25px;
  max-height: 50px;
}
#deviceTabs{
  font-family: 'Laila', serif;
  font-weight: bolder;
}
#childTabs{
  font-family: 'Laila', serif;
  font-weight: bold;
}
#dropLink:hover{
  color: rgb(139, 185, 104);
}
#wlTable{
  display: table;
  margin: 50px auto;
}

