/**************tag selectors***********/
body {
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Arial', sans-serif;
    background-color: #B4F9FF;
  }
  h1 {
    margin-top: 0;
    font-size: 50px;
    font-family: 'Laila', serif;
  }
  h3 {
    color: #64864A;
    font-family: 'Laila', serif;
    font-size: 18px;
  }
  a {
    color: #64864A;
    text-decoration: none;
    font-size: 19px;
  }
  a:hover {
    color: #C9B59A;
  }
  /**************class selectors***********/
  .top-container {
    background-color: #B4F9FF;
    position: relative;
    padding: 20px 0;
    font-weight: bold;
    margin-bottom: 125px;
  }
  .middle-container {
    background-color: #B4F9FF;
    padding-bottom: 60px;
  }
  .bottom-container {
    background-color: #C0A886;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    padding: 40px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer-link {
    padding: 0 30px;
    color: #B4F9FF;
  }
  .footer-link:hover {
    color: #64864A;
  }
  .btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #64864A;
    padding: 5px;
    text-decoration: none;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
  }
  .btn:hover{
    background: #C9B59A;
    text-decoration: none;
  }
  .navbar-custom{
    background-color: #64864A;
    color: #ffffff;
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
      color: #ffffff;
  }
  .navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
  }
  .navbar-custom .nav-item:hover .nav-link, 
  .navbar-custom .navbar-brand:hover {
      color: #B4F9FF;
  }
  /**************id selectors***********/
  #login-form{
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 330px;
    background-color: #B4F9FF;
  }
  #login-box #register-box{
    padding: 5px 0;
  }
  #register-btn{
    padding-top: 100px;
  }
  #signup-login-btn:hover{
    color: #C9B59A;
  }
  #form-head{
    font-weight: bold;
    color: #776E4E;
  }
  #login-top {
    margin-bottom: 100px;
  }
  #register-form{
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 330px;
    padding-top: 50px;
  }