/**************tag selectors***********/
body {
  margin: 0;
  text-align: center;
  position: relative;
  font-family: 'Arial', sans-serif;
  background-color: #e3e3e3;
}
h1 {
  margin-top: 0;
  font-size: 50px;
  font-family: 'Laila', serif;
}
h2 {
  font-family: 'Laila', serif;
  font-weight: bold;
  color: #776E4E;
  font-size: 32px;
}
h3 {
  color: #64864A;
  font-family: 'Laila', serif;
  font-size: 18px;
}
a {
  color: #7BABAE;
  text-decoration: none;
  font-size: 19px;
}
a:hover {
  color: #B4F9FF;
}
hr {
  width: 100px;
}
/**************class selectors***********/
.top-container {
  background-color: #B4F9FF;
  position: relative;
  padding: 20px 0;
  font-weight: bold;
}
.middle-container {
  background-color: #ffffff;
  padding-bottom: 60px;
}
.bottom-container {
  background-color: #C0A886;
  color: #eeeeee;
  font-family: Arial, sans-serif;
  padding: 40px 0;
}
.nest {
  position: relative;
  top: 7px;
  height: 300px;
  width: auto;
  background-color: #B4F9FF;
  border-radius: 100%;
  padding: 5px;
}
.portrait {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.features-pic {
  height: 75px;
  width: 75px;
}
.contact-us {
  padding-bottom: 70px;
}
.footer-link {
  padding: 0 30px;
  color: #B4F9FF;
}
.footer-link:hover {
  padding: 0 30px;
  color: #64864A;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #64864A;
  padding: 5px;
  text-decoration: none;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}
.btn:hover {
  background: #B4F9FF;
  text-decoration: none;
}
.feature-link:hover {
  color: #776E4E;
}
.bottom-container{
  background-color: #C0A886;
}
.navbar-custom{
  background-color: #64864A;
  color: #ffffff;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-custom .nav-item:hover .nav-link, 
.navbar-custom .navbar-brand:hover {
    color: #B4F9FF;
}

/**************id selectors***********/