<div class="bottom-container">
    <a class="footer-link" href="https://www.facebook.com">FaceBook</a>
    <a class="footer-link" href="https://twitter.com">Twitter</a>
    <p>© 2019 NestShield.</p>
</div>